<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uottawa.cookhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".CreateRecipe" />
        <activity android:name=".Pantry" />
        <activity android:name=".RecipePage" />
        <activity android:name=".RecipeList" />
        <activity android:name=".RecipeResults" />
        <activity android:name=".Results" />
        <activity android:name=".Search" />
        <activity android:name=".Settings" />
        <activity android:name=".RecentResults" />
        <activity android:name=".IngredientPage" />
        <activity android:name=".EditRecipe"></activity>
    </application>

</manifest>